ul li {
	list-style-image: none;
}

ul.list-main {
	font-size: 1.6em;
}

ul li::marker {
	color: var(--bs-link-color);
}

main {
	margin-top: 1em;
}

details {
	border: 1px dotted var(--bs-link-color);
	padding: 0.2em 0.5em;
}

details.details-mar {
	margin: 0.8em 0;
}

summary {
	font-weight: bold;
}

summary::after {
	content: 'Click to expand';
	margin-left: 1em;
	color: var(--bs-link-color);
	font-style: italic;
	float: right;
}

details[open] summary::after {
	content: 'Click to collapse';
}

summary {
	cursor: pointer;
	color: var(--bs-link-color);
}

img.image-mar {
	margin: 0.5em;
	border: 1px dotted gray;
}

img.badge-mar {
	margin-right: 0.3em;
}

img {
	max-width: calc(100% - 20px);
	/* Container width minus padding */
}

/*main_content h3 {
	font-size: 20px;
}

#main_content h4 {
	font-size: 17px;
}*/

.back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	transition: opacity 0.3s, visibility 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

.back-to-top-btn.visible {
	opacity: 1;
	visibility: visible;
}

/* Prevent button from blocking content at bottom of page */
@media (max-height: 500px) {
	.back-to-top-btn {
		bottom: 10px;
		right: 10px;
	}
}


/* General print adjustments */
@media print {

	html,
	body {
		color: #000 !important;
		background: #fff !important;
	}

	.btn,
	.print-hide {
		display: none !important;
	}

	.print-block {
		display: block !important;
	}

	/* Make layout single-column for printing */
	.container {
		max-width: 100% !important;
		padding: 0 !important;
	}

	/* .col,
	.col-auto {
		display: block !important;
		width: 100% !important;
	} */

	img {
		max-width: 100% !important;
		height: auto !important;
		page-break-inside: avoid;
	}

	hr,
	h3,
	h4 {
		page-break-after: avoid;
	}

	main,
	section,
	article,
	header {
		page-break-inside: avoid;
	}

	body {
		font-size: 12pt;
		line-height: 1.2;
	}

	a::after {
		content: " (" attr(href) ")";
		font-size: 90%;
		color: #000;
	}
}

/* Screen styles to keep layout similar to original but improve print preview */
@media screen {
	body {
		-webkit-print-color-adjust: exact;
	}

	.print-block {
		display: none !important;
	}

}