@import "main-details.css";
@import "main-print.css";
@import "main-lists.css";
@import "main-linkedin.css";

.heading {
	padding: 1rem 0 .5rem 0;
}

main {
	margin-top: 1em;
}

img.image-mar {
	margin: 0.5em;
	border: 1px dotted gray;
}

img.badge-mar {
	margin-right: 0.2em;
}

.userpic {
	border-radius: 111em;
	width: 150px;
	/* Default: small screens */
}

/* сигнальный класс! */
a.btn.lang--.active {
	cursor: default;
}


.back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	transition: opacity 0.3s, visibility 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

.back-to-top-btn.visible {
	opacity: 1;
	visibility: visible;
}

/* Prevent button from blocking content at bottom of page */
@media (max-height: 500px) {
	.back-to-top-btn {
		bottom: 10px;
		right: 10px;
	}
}