/** DETAILS start */
.details-mar {
  margin: 1em 0;
}

details {
  border: 1px dotted var(--bs-link-color);
  padding: 0.2em 0.5em;

  img {
    max-width: calc(100% - 20px);
    /* Container width minus padding */
  }

  > summary {
    font-weight: bold;
    display: flex;
    gap: 0.5em;
    cursor: pointer;
    color: var(--bs-link-color);

    &::before {
      font-family: "Segoe UI", DejaVu Sans, "Arial Unicode MS", sans-serif;
      content: "▶";
    }

    &::after {
      font-weight: normal;
      content: "Click to expand";
      margin-left: auto;
      color: var(--bs-link-color);
      font-style: italic;
    }
  }

  &[open] {
    > summary {
      &::before {
        content: "▼";
      }

      &::after {
        content: "Click to collapse";
      }
    }
  }
}
/** DETAILS end */