---
---

@import '{{ site.theme }}';
/* https://github.com/pages-themes/hacker#stylesheet */
header {
	display: none;
}

ul li {
	list-style-image: none;
}

ul li::marker {
	color: #b5e853;
	font-size: 1.6em;
}

body > div.container {
	margin: 3em auto 0 auto;
}

details {	
	border: 1px dotted #b5e853;
    padding: .2em .5em;
}

details.details-mar {	
	margin: .5em;	
}

summary::after {
    content: "Click to expand";
    margin-left: 1em;
    color: #b5e853;
    font-style: italic;
}

details[open] summary::after {
    content: "Click to collapse";
}

summary {
	cursor: pointer;
	color: #b5e853;
}

img.image-mar {
	margin: .5em;
	border: 1px dotted gray;
}

img.badge-mar {
	margin-right: .5em;
}